.app {
  min-height: 100vh;
}

.page-container {
  max-width: 1200px;
  margin: auto;
  padding: 40px 25px;
}

h1,
h2,
h3 {
  font-family: "Space Grotesk", sans-serif;
}

button {
  transition: 0.2s ease;
}

button:hover {
  transform: translateY(-2px);
}