@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;600;700&family=Space+Grotesk:wght@500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --navy: #102a43;
  --dark-navy: #071b2f;

  --mint: #43d9b0;
  --mint-light: #e4fff7;

  --orange: #ff9f43;

  --background: #eef8f5;

  --white: #ffffff;

  --text: #183b56;
  --muted: #718096;

  --border: #d9e8e4;

  --danger: #df5555;
}

html,
body,
#root {
  min-height: 100%;
}

body {
  font-family: "DM Sans", sans-serif;

  background: var(--background);

  color: var(--text);
}

button,
input {
  font-family: inherit;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

::selection {
  background: var(--mint);
  color: var(--navy);
}